@charset "utf-8";
/* CSS Document */
body,h1,p{
	margin:0px;
	padding:0px;
	}
	
.usehelp{
	background:#fff;
	width:100%;
	min-width:640px;
	max-width:1014px;
	height:auto;
	padding:20px 30px;
	margin:0px auto;
	box-sizing:border-box;
	font:12px/1.5 "黑体";
	color:#727171;
	}	
.usehelp h1{
	font:15px/1 "黑体";
	margin:20px 0px 10px;
	}	






















